<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>DETALLE DE UNA CANCION</h1>

    <ul style="list-style: none">
    <li><h2>Titulo: <%= cancion.titulo %></h2></li>
    <li><h2>Artista: <%= cancion.artista.nombre %> <%= cancion.artista.apellido %></h2></li>
    <li><h2>Album: <%= cancion.album.nombre %></h2></li>
    <li><h2>Genero: <%= cancion.generoCancion.name %></h2></li>
    <li><h2>Duracion: <%= cancion.duracion %></h2></li>
</ul>

    <h1>EDITAR CANCION</h1>

    <div class="form-container">
        <form method="POST" action="/canciones/<%= cancion.id %>?_method=PUT">
            <input type="hidden" name="id" value="<%= cancion.id %>">
            <input type="hidden" name="created_at" value="<%= cancion.created_at %>">
            <input type="hidden" name="updated_at" value="<%= new Date() %>">
            <label for="">Titulo</label>
            <input type="text" name="titulo" placeholder="Titulo" value="<%= cancion.titulo %>">
            <br>
            <label for="">Duracion</label>
            <input type="text" name="duracion" placeholder="Duracion" value="<%= cancion.duracion %>">
            <br>
            <label for="">Genero</label>
            <input type="number" name="genero" placeholder="Genero" value="<%= cancion.genero_id %>">
            <br>
            <label for="">Album_id</label>
            <input type="number" name="album" placeholder="Album" value="<%= cancion.album_id %>">
            <br>
            <label for="">Artista_id</label>
            <input type="number" name="artista" placeholder="Artista" value="<%= cancion.artista_id %>">
            <br>
            <input type="submit" value="Enviar">
        </form>
    </div>

    <H1>BORRAR CANCION</H1>

    <div>
        <form method="POST" action="/canciones/<%= cancion.id %>?_method=DELETE">
            <button type="submit">Eliminar Cancion</button>
        </form>
    </div>
</body>

</html>